<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-12">
                    <a href="../../index.html" class="navbar-link navbar-text pull-left">
                        <span class="glyphicon glyphicon-home msk-black"> </span>
                    </a>
                    <a class="navbar-brand" href="#">Register</a>
                </div>
            </div>

        </div>
    </nav>


    <div class="container-fluid msk-main-form">

        <label for ="username">Username</label>
        <input type="text"
               id="username"
               class="form-control"
               placeholder="username"/>

        <label for ="password">Password</label>
        <input type="password"
               id="password"
               class="form-control"
               placeholder="password"/>

        <label for ="retypepassword">Retype Password</label>
        <input type="password"
               id="retypepassword"
               class="form-control"
               placeholder="Retype Password"/>

        <a class="btn btn-primary btn-block"
           href="profile.view.client.html">Register</a>
        <a class="btn btn-danger  btn-block"
           href="login.view.client.html">Cancel</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
        </div>
    </nav>