<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-xs-6 msk-navbar-header zero-padding">
            <a class="navbar-brand" href="#!/">
                <img class="ho-navbar-logo" src="images/hungry-owl-plain-logo.png">
                <div class="hungry-owl-text ho-navbar-text">HungryOwl</div>
            </a>
        </div>

        <div class="col-xs-6">
            <div class="dropdown pull-right ho-dropdown-padding">
                <button class="btn btn-default dropdown-toggle ho-profile-btn"
                        type="button" data-toggle="dropdown">
                    <img class="ho-img-circle" src="images/backup-img/icon.png">
                    <span class="ho-button-text">Sree</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu nav-dropdown-menu">
                    <li><a href="#">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        Dashboard</a>
                    </li>
                    <li><a href="#">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile</a>
                    </li>
                    <li><a href="#">
                        <span class="glyphicon glyphicon-th"></span>
                        Notifications</a>
                        <span class="badge pull-right">2</span>
                    </li>
                    <li><a href="#">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Followers</a>
                        <span class="badge pull-right">99</span>
                    </li>
                    <li><a href="#">
                        <span class="glyphicon glyphicon-bookmark"></span>
                        Following</a>
                        <span class="badge pull-right">52</span>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="ho-main-body">

        <div class="ho-foodie-name">
        <div class="row">
            <div class="col"></div>
        </div>
        </div>

        <div class="ho-foodie-details">

        </div>

    </div>

</div>