<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-xs-1">
            <a href="#!/" class="navbar-brand ho-left"> <span class="glyphicon glyphicon-chevron-left"></span>
            </a></div>
        <div class="col-xs-5 msk-navbar-header zero-padding">
            <a class="navbar-brand" href="#!/">
                <img class="ho-navbar-logo" src="images/hungry-owl-plain-logo.png">
                <div class="hungry-owl-text ho-navbar-text">HungryOwl</div>
            </a>
        </div>

        <div class="col-xs-6">
            <div class="dropdown pull-right ho-dropdown-padding">
                <button class="btn btn-default dropdown-toggle ho-profile-btn"
                        type="button" data-toggle="dropdown">
                    <img class="ho-img-circle" src="images/backup-img/icon.png">
                    <span class="ho-button-text">{{model.currentUser.username}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu nav-dropdown-menu">
                    <li ng-show="model.currentUser.userType=='ADMIN'">
                        <a href="#!/admin">
                            <span class="glyphicon glyphicon-dashboard"></span>
                            Admin Dashboard</a>
                    </li>
                    <li><a href="#!/enduser">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        Foodie Dashboard</a>
                    </li>
                    <li><a href="#!/enduser/profile">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#!/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="ho-main-body">
        <div class="ho-dashboard-greeting">
            Find the best places around you to eat
        </div>
        <div class="row msk-search-bar">
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-md-8 zero-padding">
                <div class="col-xs-12 col-sm-3 msk-col-search dropdown pull-left">
                    <select name="radius" id="radius" class="ho-radius">
                        <option value="2">Around 2 miles</option>
                        <option value="5">Around 5 miles</option>
                        <option value="10">Around 10 miles</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-7 msk-col-search search-bar">

                    <select name="place" id="resname" class="search-bar-height ho-place">
                        <option value="0">All Places</option>
                        <option value="Cafe">Cafes</option>
                        <option value="Bars">Bars</option>
                        <option value="Pizza">Pizzeria</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 msk-col-search">
                    <a ng-click="model.searchRestaurants()"
                       class="btn btn-block btn-danger search-bar-height">Search</a>
                </div>
            </div>
            <div class="col-xs-1 col-md-2"></div>
        </div>
        <div class="row ho-dashboard ho-left-padding ho-right-padding">
            <div>
                <div class="row">
                    <h3 class="ho-board-heading">
                        <span ng-show="model.currentUser._id==model.user._id">Foodie</span>
                        <span ng-show="model.currentUser._id!=model.user._id">Friend's</span>
                        Dashboard</h3>
                    <div ng-show="model.currentUser._id!=model.user._id"
                         class="ho-board-heading friend-info">
                        Username: {{model.user.username | uppercase }}
                        <br>
                        First Name: {{model.user.firstName}}
                        <br>
                        Last Name: {{model.user.lastName}}
                        <br>
                        <a ng-show="model.user.followers.indexOf(model.currentUser._id)==-1"
                           ng-click="model.followUser(model.user._id,model.currentUser._id)"
                           class="btn btn-primary ho-top-margin"> Follow
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a ng-show="model.user.followers.indexOf(model.currentUser._id)>-1"
                           ng-click="model.unfollowUser(model.user._id,model.currentUser._id)"
                           class="btn btn-success ho-top-margin"> Following
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 ho-bottom-margin">
                        <div class="row search-result zero-margin">
                            <ul class="nav nav-pills">

                                <li class="active ho-menu-li">
                                    <a data-toggle="pill" href="#home"
                                       target="_self" class="btn ho-dashboard-link">
                                        <span ng-show="model.currentUser._id==model.user._id">Home</span>
                                        <span ng-show="model.currentUser._id!=model.user._id">Friend's Feed</span>
                                    </a>
                                </li>
                                <li ng-show="model.currentUser._id==model.user._id" class="ho-menu-li">
                                    <a data-toggle="pill" href="#findfriends"
                                       target="_self" class="btn ho-dashboard-link">Find Friends
                                    </a>
                                </li>
                                <li class="ho-menu-li"><a data-toggle="pill" href="#followers"
                                                          target="_self" class="btn ho-dashboard-link">
                                    <span ng-show="model.currentUser._id==model.user._id">Followers</span>
                                    <span ng-show="model.currentUser._id!=model.user._id">Friend's Followers</span>
                                </a>
                                </li>
                                <li class="ho-menu-li"><a data-toggle="pill" href="#following"
                                                          target="_self" class="btn ho-dashboard-link">
                                    <span ng-show="model.currentUser._id==model.user._id">Following</span>
                                    <span ng-show="model.currentUser._id!=model.user._id">Friend's Following</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-9">
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="ho-write-post" ng-show="model.currentUser._id==model.user._id">
                                    <ul class="list-group">
                                        <li class="list-group-item msk-table-heading">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    Post here
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item msk-table-heading zero-padding-tb">
                                            <div class="row">
                                                <div class="col-xs-12 zero-padding">
                                        <textarea rows="4" minlength="10"
                                                  class="form-control"
                                                  ng-model="post.post_text">
                                        </textarea>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item msk-table-heading zero-padding zero-padding-tb">
                                            <div class="row zero-padding">
                                                <div class="col-xs-8" style="padding-right:0px;">
                                                    <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">
                                                  <a id="location-find"
                                                     class="btn btn-primary btn-block"
                                                     ng-click="model.getLocation()" >
                                                      <span class="glyphicon glyphicon-map-marker"></span>
                                                  </a>
                                                </span>

                                                        <input wbdv-search=""
                                                               id="restaurant"
                                                               type="text"
                                                               class="form-control ho-loc-input" placeholder="Check in"
                                                               aria-describedby="basic-addon1">

                                                        <input id="restaurant-id"
                                                               type="hidden"
                                                               ng-model="post._restaurant">

                                                    </div>
                                                </div>
                                                <div class="col-xs-4" style="padding-left:0px;">
                                                    <a ng-click="model.createPost(post)"
                                                       class="btn btn-danger ho-post-btn">Post</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div id="lat" hidden></div>
                                    <div id="lon" hidden></div>
                                </div>

                                <div class="ho-posts-ul">
                                    <ul class="list-group">
                                        <li ng-show="model.currentUser._id==model.user._id"
                                            ng-if="model.posts.length==0"
                                            class="list-group-item ho-posts">
                                            <h4>You haven't posted anything yet.</h4>
                                            <h5>Share your first post now.</h5>
                                        </li>

                                        <li ng-show="model.currentUser._id!=model.user._id"
                                            ng-if="model.posts.length==0"
                                            class="list-group-item ho-posts">
                                            <h4>Your friend haven't posted anything yet.</h4>
                                        </li>

                                        <div ng-show="model.errorMessage" class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign msk-msg-glyphicon" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            {{model.errorMessage}}
                                        </div>
                                        <li ng-repeat="post in model.posts" class="list-group-item ho-posts">
                                            <div class="row">

                                                <div class="col-xs-12">
                                                    {{post.post_text}} <b>at</b>
                                                    <span class="glyphicon glyphicon-map-marker">
                                        </span>
                                                    <a ng-hide="post._restaurant_local" href="#!/restaurant/{{post.restaurant_name}}/{{post._restaurant}}"
                                                       class="restaurant-link">{{post.restaurant_name}}</a>
                                                    <a ng-show="post._restaurant_local" href="#!/restaurant/{{post._restaurant}}"
                                                       class="restaurant-link">{{post.restaurant_name}}</a>
                                                    <div class="ho-date">posted on {{post.dateCreated | date:"LLLL dd 'at' h:mma"}}</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-show="model.currentUser._id==model.user._id" id="findfriends" class="tab-pane fade search-result">
                                <div class="ho-section-heading">
                                    Find Friends
                                </div>
                                <div class="ho-section-content">
                                    <div class="">
                                        <h3>Search for Friends by their Username</h3>
                                    </div>

                                    <div class="row ho-5px-all-padding">
                                        <div class="col-xs-9">
                                            <input ng-model="friend.username"
                                                   type="text"
                                                   id="username"
                                                   class="form-control"
                                                   placeholder="User123"/>
                                        </div>
                                        <div class="col-xs-3">
                                            <a ng-click="model.findFriendByUsername(friend)"
                                               class="btn btn-block btn-primary ho-5px-all-padding pull-right">Find</a>
                                        </div>
                                    </div>

                                    <div class="row ho-5px-all-padding zero-margin" ng-if="model.friends.length>0">
                                        <div ng-show="model.errorMessageFriends" class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign msk-msg-glyphicon" aria-hidden="true"></span>
                                            <span class="sr-only">Error:</span>
                                            {{model.errorMessageFriends}}
                                        </div>
                                        <ul class="list-group" ng-show="model.friends">
                                            <h4>Friends list</h4>

                                            <li class="list-group-item list-group-item-info">
                                                <div class="row">
                                                    <div class="col-xs-4">Username</div>
                                                    <div class="col-xs-6">Name</div>
                                                    <div class="col-xs-2">Profile</div>
                                                </div>
                                            </li>

                                            <div ng-show="model.friends&&model.friends.length>0">
                                            <li ng-if="friend._id!=model.currentUser._id" ng-repeat="friend in model.friends" class="list-group-item">
                                                <a href="#!/enduser/{{friend._id}}">
                                                    <div class="row">
                                                        <div class="col-xs-4">{{friend.username}}</div>
                                                        <div class="col-xs-6">{{friend.firstName}} </div>
                                                        <div class="col-xs-2">
                                                            <a href="#!/enduser/{{friend._id}}"
                                                               class="btn btn-block btn-default">
                                                                <span class="glyphicon glyphicon-user"></span>
                                                            </a></div>
                                                    </div>
                                                </a>
                                            </li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="row ho-5px-all-padding zero-margin" ng-if="model.friends.length==0">
                                        Sorry, No matching Results
                                    </div>
                                </div>
                            </div>
                            <div id="followers" class="tab-pane fade search-result">
                                <div class="ho-section-heading">
                                    <span ng-show="model.currentUser._id==model.user._id">Followers</span>
                                    <span ng-show="model.currentUser._id!=model.user._id">Friend's Followers</span>
                                </div>
                                <div class="ho-section-content">
                                    <div class="">
                                        <div ng-show="model.allFollowers.length==0">
                                            <div ng-show="model.currentUser._id==model.user._id">
                                                <h4>You don't have any followers yet.</h4>
                                                <h5>Share Updates to get more Followers.</h5>
                                            </div>
                                            <div ng-show="model.currentUser._id!=model.user._id">
                                                <h4><span class="ho-friend-name">{{model.user.firstName}}</span> do not have any followers </h4>
                                                <h5>Follow <span class="ho-friend-name">{{model.user.firstName}}</span> today.</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ho-5px-all-padding zero-margin" ng-if="model.allFollowers.length>0">
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-info">
                                                <div class="row">
                                                    <div class="col-xs-4">Username</div>
                                                    <div class="col-xs-6">Name</div>
                                                    <div class="col-xs-2">Profile</div>
                                                </div>
                                            </li>

                                            <li ng-repeat="follower in model.allFollowers track by $index" class="list-group-item">
                                                <a href="#!/enduser/{{follower._id}}">
                                                    <div class="row">
                                                        <div class="col-xs-4">{{follower.username}}</div>
                                                        <div class="col-xs-6">{{follower.firstName}} {{follower.lastName}} </div>
                                                        <div class="col-xs-2">
                                                            <a href="#!/enduser/{{follower._id}}"
                                                               class="btn btn-block btn-default">
                                                                <span class="glyphicon glyphicon-user"></span>
                                                            </a></div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="following" class="tab-pane fade search-result">
                                <div class="ho-section-heading">
                                    <span ng-show="model.currentUser._id==model.user._id">Following</span>
                                    <span ng-show="model.currentUser._id!=model.user._id">Friend's Following</span>
                                </div>
                                <div class="ho-section-content">
                                    <div class="">
                                        <div ng-show="model.allFollowing.length==0">
                                            <div ng-show="model.currentUser._id==model.user._id">
                                                <h4>You are not following anyone yet.</h4>
                                                <h5>Find friends today.</h5>
                                            </div>
                                            <div ng-show="model.currentUser._id!=model.user._id">
                                                <h4>{{model.user.firstName}} is not following anyone yet.</h4>
                                            </div>
                                        </div>
                                        <div ng-if="model.allFollowing.length>0" class="row ho-5px-all-padding zero-margin">
                                            <ul class="list-group">
                                                <li class="list-group-item list-group-item-info">
                                                    <div class="row">
                                                        <div class="col-xs-4">Username</div>
                                                        <div class="col-xs-6">Name</div>
                                                        <div class="col-xs-2">Profile</div>
                                                    </div>
                                                </li>

                                                <li ng-repeat="followingPerson in model.allFollowing track by $index" class="list-group-item">
                                                    <a href="#!/enduser/{{followingPerson._id}}">
                                                        <div class="row">
                                                            <div class="col-xs-4">{{followingPerson.username}}</div>
                                                            <div class="col-xs-6">{{followingPerson.firstName}} {{followingPerson.lastName}} </div>
                                                            <div class="col-xs-2">
                                                                <a href="#!/enduser/{{followingPerson._id}}"
                                                                   class="btn btn-block btn-default">
                                                                    <span class="glyphicon glyphicon-user"></span>
                                                                </a></div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
