<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-xs-1">
            <a href="#!/restaurant" class="navbar-brand ho-left"> <span class="glyphicon glyphicon-chevron-left"></span>
            </a></div>
        <div class="col-xs-5 msk-navbar-header zero-padding">
            <a class="navbar-brand" href="#!/">
                <img class="ho-navbar-logo" src="images/hungry-owl-plain-logo.png">
                <div class="hungry-owl-text ho-navbar-text">HungryOwl</div>
            </a>
        </div>

        <div class="col-xs-6 toggle-padding">
            <div class="dropdown pull-right ho-dropdown-padding">
                <button class="btn btn-default dropdown-toggle ho-profile-btn"
                        type="button" data-toggle="dropdown">
                    <img class="ho-img-circle" src="images/backup-img/icon.png">
                    <span class="ho-button-text">{{currentUser.username}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu nav-dropdown-menu">
                    <li><a href="#!/restaurant">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        Dashboard</a>
                    </li>
                    <li><a href="#!/restaurant/profile">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#!/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="ho-main-body">
        <div class="ho-dashboard-greeting">
            Find the best places around you to eat
        </div>
        <div class="row msk-search-bar">
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-md-8 zero-padding">
                <div class="col-xs-12 col-sm-3 msk-col-search dropdown pull-left">
                    <select name="radius" id="radius" class="ho-radius">
                        <option value="2">Around 2 miles</option>
                        <option value="5">Around 5 miles</option>
                        <option value="10">Around 10 miles</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-7 msk-col-search search-bar">

                    <select name="place" id="resname" class="search-bar-height ho-place">
                        <option value="0">All Places</option>
                        <option value="Cafe">Cafes</option>
                        <option value="Bars">Bars</option>
                        <option value="Pizza">Pizzeria</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 msk-col-search">
                    <a ng-click="model.searchRestaurants()"
                       class="btn btn-block btn-danger search-bar-height">Search</a>
                </div>
            </div>
            <div class="col-xs-1 col-md-2"></div>
        </div>
        <div class="row">
            <h3 class="ho-board-heading">Restaurant Info</h3>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-1">
            </div>
            <div class="col-sm-8 col-xs-10">
                <div ng-show="model.successMessage" class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok-circle msk-msg-glyphicon" aria-hidden="true"></span>
                    <span class="sr-only">Restaurant Info:</span>
                    {{model.successMessage}}
                </div>
                <div ng-show="model.errorMessage" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign msk-msg-glyphicon" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{model.errorMessage}}
                </div>
                <label for ="firstName">Restaurant Name</label>
                <input ng-model="model.restaurant.name"
                       type="text"
                       id="firstName"
                       class="form-control"
                       placeholder="firstName"/>

                <label for ="streetAddress">streetAddress</label>
                <input ng-model="model.restaurant.streetAddress"
                       type="text"
                       id="streetAddress"
                       class="form-control"
                       placeholder="street Address"/>

                <label for ="city">city</label>
                <input ng-model="model.restaurant.city"
                       type="text"
                       id="city"
                       class="form-control"
                       placeholder="city"/>

                <label for ="state">state</label>
                <input ng-model="model.restaurant.state"
                       type="text"
                       id="state"
                       class="form-control"
                       placeholder="state"/>

                <label for ="phone">phone</label>
                <input ng-model="model.restaurant.phone"
                       type="text"
                       id="phone"
                       class="form-control"
                       placeholder="phone"/>

                <div class="cuisines-dropdown">
                    <label for ="cuisines">Select Cuisines</label>
                    <div ng-dropdown-multiselect=""
                         options="model.example8data"
                         selected-model="model.example8model"
                         extra-settings="model.example8settings"
                         id="cuisines"></div>
                </div>
                <div>
                    <label for ="acceptsCash">Do you Accept Cash?</label>
                    <input ng-model="model.restaurant.acceptsCash"
                           type="checkbox"
                           id="acceptsCash"
                           placeholder="acceptsCash"/>
                </div>
                <div>
                    <label for ="acceptsCard">Do you Accept Card?</label>
                    <input ng-model="model.restaurant.acceptsCard"
                           type="checkbox"
                           id="acceptsCard"
                           placeholder="acceptsCard"/>
                </div>
                <div>
                    <label for ="offersDelivery">Do you Offer Delivery?</label>
                    <input ng-model="model.restaurant.offersDelivery"
                           type="checkbox"
                           id="offersDelivery"
                           placeholder="offersDelivery"/>
                </div>
                <br>
                <div>
                    <label for ="deliveryMin">What is your minimum delivery price?</label>
                    <input ng-model="model.restaurant.deliveryMin"
                           type="number"
                           id="deliveryMin"
                           class="form-control"
                           placeholder="deliveryMin"/>
                </div>

                <div>
                    <label for ="deliveryPrice">What is your actual delivery price?</label>
                    <input ng-model="model.restaurant.deliveryPrice"
                           type="number"
                           id="deliveryPrice"
                           class="form-control"
                           placeholder="deliveryPrice"/>
                </div>

                <div class="ho-buttons-margin">
                    <a class="btn btn-success btn-block"
                       ng-click="model.updateProfile(model.restaurant,model.example8model)">Update Info</a>
                    <a class="btn btn-danger  btn-block"
                       href="#!/restaurant">Cancel</a>
                </div>
            </div>
            <div class="col-sm-2 col-xs-1">
            </div>
        </div>
    </div>
</div>
<script>
    $(".dropdown dt a").on('click', function() {
        $(".dropdown dd ul").slideToggle('fast');
    });

    $(".dropdown dd ul li a").on('click', function() {
        $(".dropdown dd ul").hide();
    });

    function getSelectedValue(id) {
        return $("#" + id).find("dt a span.value").html();
    }

    $(document).bind('click', function(e) {
        var $clicked = $(e.target);
        if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
    });

    $('.mutliSelect input[type="checkbox"]').on('click', function() {

        var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
            title = $(this).val() + ",";

        if ($(this).is(':checked')) {
            var html = '<span title="' + title + '">' + title + '</span>';
            $('.multiSel').append(html);
            $(".hida").hide();
        } else {
            $('span[title="' + title + '"]').remove();
            var ret = $(".hida");
            $('.dropdown dt a').append(ret);

        }
    });
</script>


