<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-xs-1">
            <a href="#!/restaurant/{{currentUser._id}}" class="navbar-brand ho-left"> <span class="glyphicon glyphicon-chevron-left"></span>
            </a></div>
        <div class="col-xs-5 msk-navbar-header zero-padding">
            <a class="navbar-brand" href="#!/">
                <img class="ho-navbar-logo" src="images/hungry-owl-plain-logo.png">
                <div class="hungry-owl-text ho-navbar-text">HungryOwl</div>
            </a>
        </div>

        <div class="col-xs-6">
            <div class="dropdown pull-right ho-dropdown-padding">
                <button class="btn btn-default dropdown-toggle ho-profile-btn"
                        type="button" data-toggle="dropdown">
                    <img class="ho-img-circle" src="images/backup-img/icon.png">
                    <span class="ho-button-text">{{currentUser.username}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu nav-dropdown-menu">
                    <li><a href="#!/restaurant/{{currentUser._id}}">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        Restaurant Dashboard</a>
                    </li>
                    <li><a href="#!/restaurant/{{currentUser._id}}/profile">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#!/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="ho-main-body">
        <div class="ho-dashboard-greeting">
            Find the best places  to eat around you
        </div>
        <div class="row msk-search-bar ho-left-padding ho-right-padding">
            <div class="col-md-1 hidden-xs"></div>
            <div class="col-xs-12 col-md-10 zero-padding">
                <div class="col-xs-12 col-sm-2 msk-col-search dropdown pull-left">
                    <button class="btn btn-default dropdown-toggle search-bar-height" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-map-marker msk-map-marker pull-left"></span>
                        <span class="pull-left msk-search-loc">Location</span>
                        <span class="caret pull-right msk-caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Recent Loc-1</a></li>
                        <li><a href="#">Recent Loc-2</a></li>
                        <li><a href="#">Recent Loc-3</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-8 msk-col-search search-bar">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle search-bar-height"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="glyphicon glyphicon-search"></span>
                                <span>Search By</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Cuisine</a></li>
                                <li><a href="#">Cost@2</a></li>
                                <li><a href="#">Rating</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control search-bar-height" aria-label="...">
                    </div><!-- /input-group -->
                </div>
                <div class="col-xs-12 col-sm-2 msk-col-search">
                    <a href="#!/searchresults" class="btn btn-block btn-danger search-bar-height">Search</a>
                </div>
            </div>
            <div class="col-md-1 hidden-xs"></div>
        </div>
        <div class="row">
            <h3 class="ho-board-heading">Restaurant Info</h3>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-1">
            </div>
            <div class="col-sm-8 col-xs-10">
                <div ng-show="model.successMessage" class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok-circle msk-msg-glyphicon" aria-hidden="true"></span>
                    <span class="sr-only">Restaurant Info:</span>
                    {{model.successMessage}}
                </div>
                <div ng-show="model.errorMessage" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign msk-msg-glyphicon" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{model.errorMessage}}
                </div>
                <label for ="firstName">Restaurant Name</label>
                <input ng-model="model.restaurant.name"
                       type="text"
                       id="firstName"
                       class="form-control"
                       placeholder="firstName"/>

                <label for ="streetAddress">streetAddress</label>
                <input ng-model="model.restaurant.streetAddress"
                       type="text"
                       id="streetAddress"
                       class="form-control"
                       placeholder="street Address"/>

                <label for ="city">city</label>
                <input ng-model="model.restaurant.city"
                       type="text"
                       id="city"
                       class="form-control"
                       placeholder="city"/>

                <label for ="state">state</label>
                <input ng-model="model.restaurant.state"
                       type="text"
                       id="state"
                       class="form-control"
                       placeholder="state"/>

                <label for ="phone">phone</label>
                <input ng-model="model.restaurant.phone"
                       type="text"
                       id="phone"
                       class="form-control"
                       placeholder="phone"/>

                <label for ="acceptsCash">Do you Accept Cash?</label>
                <input ng-model="model.restaurant.acceptsCash"
                       type="checkbox"
                       id="acceptsCash"
                       placeholder="acceptsCash"/>

                <label for ="acceptsCard">Do you Accept Card?</label>
                <input ng-model="model.restaurant.acceptsCard"
                       type="checkbox"
                       id="acceptsCard"
                       placeholder="acceptsCard"/>

                <label for ="offersDelivery">Do you Offer Delivery?</label>
                <input ng-model="model.restaurant.offersDelivery"
                       type="checkbox"
                       id="offersDelivery"
                       placeholder="offersDelivery"/>

                <label for ="deliveryMin">What is your minimum delivery price?</label>
                <input ng-model="model.restaurant.deliveryMin"
                       type="number"
                       id="deliveryMin"
                       class="form-control"
                       placeholder="deliveryMin"/>

                <label for ="deliveryPrice">What is your actual delivery price?</label>
                <input ng-model="model.restaurant.deliveryPrice"
                       type="number"
                       id="deliveryPrice"
                       class="form-control"
                       placeholder="deliveryPrice"/>


                <div class="ho-buttons-margin">
                    <a class="btn btn-success btn-block"
                       ng-click="model.updateProfile(model.restaurant)">Update Info</a>
                    <a class="btn btn-danger  btn-block"
                       href="#!/restaurant/{{model.rid}}">Cancel</a>
                </div>
            </div>
            <div class="col-sm-2 col-xs-1">
            </div>
        </div>
    </div>
</div>



