<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-xs-1">
            <a href="#!/" class="navbar-brand ho-left"> <span class="glyphicon glyphicon-chevron-left"></span>
            </a></div>
        <div class="col-xs-5 msk-navbar-header zero-padding">
            <a class="navbar-brand" href="#!/">
                <img class="ho-navbar-logo" src="images/hungry-owl-plain-logo.png">
                <div class="hungry-owl-text ho-navbar-text">HungryOwl</div>
            </a>
        </div>

        <div class="col-xs-6">
            <a href="#!/restaurant/register" class="btn btn-danger ho-nav-buttons">Sign Up</a>
        </div>
    </nav>

    <div class="ho-main-body">
        <div class="col-sm-2 col-xs-1">
        </div>
        <div ng-show="model.currentUser.userType" class="col-sm-8 col-xs-10 font-18">
            You are already Logged In<br>
            Please click <a href="#!/enduser" class="join-btn">
            <span class="glyphicon glyphicon-dashboard"></span>
            Here</a> to navigate to your dashboard.
        </div>
        <div ng-show="model.currentUser.userType==undefined" class="col-sm-8 col-xs-10">
            <h2>Restaurant Login</h2>
            <hr>
            <form>
                <div ng-show="model.errorMessage" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign msk-msg-glyphicon" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{model.errorMessage}}
                </div>

                <label for ="username">Username</label>
                <input ng-model="restaurant.username"
                       type="text"
                       id="username"
                       class="form-control"
                       placeholder="username123"/>

                <label for ="password">Password</label>
                <input ng-model="restaurant.password"
                       type="password"
                       id="password"
                       class="form-control"
                       placeholder="Password@1234"/>

                <div class="ho-buttons-margin">
                    <a class="btn btn-primary btn-block"
                       ng-click="model.login(restaurant)" >Restaurant Login</a>
                    <a class="btn btn-success btn-block"
                       href="#!/restaurant/register">Restaurant Register</a>
                </div>
                Are you a Foodie?
                <a href="#!/register"
                   class="join-btn">Sign up</a>
                or
                <a href="#!/login"
                   class="join-btn">Login</a> here.
            </form>
        </div>
        <div class="col-sm-2 col-xs-1">
        </div>
    </div>

</div>