<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-9">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left msk-black"> </span>
                </a><a class="navbar-brand" href="#">
                Widgets
            </a>
            </div>

            <div class="col-xs-3">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link navbar-text pull-right">
                    <span class="glyphicon glyphicon-plus msk-black"> </span>
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid msk-main-form">
    <ul wbdv-sortable="" class="list-group">
        <li ng-repeat="widget in model.widgets" class="list-group-item msk-website-row">

            <ng-include src="model.getWidgetURL(widget.widgetType)"></ng-include>

            <div class="msk-widget-edit pull-right">

                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog msk-black"> </span>
                </a>
                <a href="">
                    <span class="glyphicon glyphicon-align-justify msk-black"> </span>
                </a>
            </div>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <a href="#" class="navbar-link navbar-text pull-left">
            <span class="glyphicon glyphicon-play msk-black"> </span>
        </a>

        <a href="#" class="navbar-link navbar-text pull-left">
            <span class="glyphicon glyphicon-eye-open msk-black"> </span>
        </a>

        <a href="#!/user/{{model.userId}}" class="navbar-link navbar-text pull-right">
            <span class="glyphicon glyphicon-user msk-black"> </span>
        </a>
    </div>
</nav>