<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a href="#!/user/:uid/website/:wid/page/:pid/widget" class="navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left msk-black"> </span>
                </a>
                <a class="navbar-brand pull-left" href="#">
                    Edit Video
                </a>
                <a href="#!/user/:uid/website/:wid/page/:pid/widget" class="navbar-link navbar-text pull-right">
                    <span class="glyphicon glyphicon-ok msk-black"> </span>
                </a>

            </div>
        </div>
    </div>
</nav>

<div class="container-fluid msk-main-form">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="text">Text</label>
                    <input type="text" class="form-control" id="text" placeholder="Text">
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="url" class="form-control" id="url" placeholder="URL">
                </div>
                <div class="form-group">
                    <label for="width">Width (in percentage)</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="width" placeholder="Width">
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
                <div class="form-group">
                    <a class="btn btn-danger  btn-block"
                       href="#!/user/:uid/website/:wid/page/:pid/widget">Delete</a>
                </div>
            </form>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/user/:uid" class="navbar-link navbar-text pull-right">
            <span class="glyphicon glyphicon-user msk-black"> </span>
        </a>
    </div>
</nav>