<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left msk-black"> </span>
                </a>
                <a class="navbar-brand" href="#">Choose Widget</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid msk-main-form">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li ng-repeat="widgetType in model.allWidgetTypes" class="list-group-item msk-website-row">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/create-{{widgetType}}">
                        {{widgetType}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/user/{{model.userId}}" class="navbar-link navbar-text pull-right">
            <span class="glyphicon glyphicon-user msk-black"> </span>
        </a>
    </div>
</nav>