<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a ng-if="model.widgetType" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left msk-black"> </span>
                </a>
                <a ng-if="model.editWidgetVar" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left msk-black"> </span>
                </a>

                <a class="navbar-brand" href="#" ng-if="model.widgetType">
                    New {{model.widgetType.toLowerCase()}}
                </a>
                <a class="navbar-brand" href="#" ng-if="model.editWidgetVar">
                    Edit {{model.widget.widgetType.toLowerCase()}}
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid msk-main-form">
    <div class="row">
        <div class="col-xs-12">
            <div ng-if="model.widgetType">
                <ng-include src="model.getWidgetEditURL(model.widgetType)"></ng-include>
            </div>
            <div ng-if="model.editWidgetVar">
                <ng-include src="model.getWidgetEditURL(model.widget.widgetType)"></ng-include>
            </div>

            <a class="btn btn-primary  btn-block"
               ng-if="model.widgetType"
               ng-click="model.createNewWidget(model.widget)">
                Create {{model.widgetType.toLowerCase()}}
            </a>
            <a class="btn btn-primary  btn-block"
               ng-if="model.editWidgetVar"
               ng-click="model.editWidget(model.widget)">
                Edit {{model.widget.widgetType.toLowerCase()}}
            </a>
            <a class="btn btn-danger  btn-block"
               ng-if="model.editWidgetVar"
               ng-click="model.deleteWidget()">
                Delete
            </a>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/user/{{model.userId}}" class="navbar-link navbar-text pull-right">
            <span class="glyphicon glyphicon-user msk-black"> </span>
        </a>
    </div>
</nav>