<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs">
                <a href="#!/user/{{model.userId}}/website" class="navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left msk-black"> </span>
                </a>
                <a class="navbar-brand" href="#">
                    Websites
                </a>
                <a href="#!/user/{{model.userId}}/website/new" class="navbar-link navbar-text pull-right msk-extreme-right">
                    <span class="glyphicon glyphicon-plus msk-black"> </span>
                </a>

            </div>

            <div class="visible-lg visible-md col-md-8 visible-xs visible-sm col-sm-12">
                <a href="#!/user/{{model.userId}}/website" class="visible-xs visible-sm navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left msk-black"> </span>
                </a>
                <a class="navbar-brand pull-left msk-main-heading" href="#">
                    Edit Website
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid msk-main-form">
    <div class="row">
        <div class="col-md-4 hidden-sm hidden-xs">
            <ul class="list-group">
                <li class="list-group-item msk-table-heading">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10">
                            Name
                        </div>
                        <div class="col-xs-2 col-sm-2">

                        </div>
                    </div>
                </li>

                <li ng-repeat="website in model.websites" class="list-group-item msk-website-row">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10">
                            <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                                {{website.name}}
                            </a>
                        </div>
                        <div class="col-xs-2 col-sm-2">
                            <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="visible-lg visible-md col-md-8 visible-xs visible-sm col-xs-12">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           placeholder="Name"
                           ng-model="model.currentWebsite.name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control"
                              id="description"
                              placeholder="Description"
                              rows="5"
                              ng-model="model.currentWebsite.description"></textarea>
                </div>
            </form>
            <a ng-click="model.editWebsite(model.currentWebsite)"
               class="btn btn-primary  btn-block">
                Edit Website
            </a>
            <a ng-click="model.deleteWebsite()"
               class="btn btn-danger  btn-block">
                Delete
            </a>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/user/{{model.userId}}" class="navbar-link navbar-text pull-right">
            <span class="glyphicon glyphicon-user msk-black"> </span>
        </a>
    </div>
</nav>