<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name"
               type="text"
               class="form-control"
               id="name"
               placeholder="Name">
    </div>
    <div class="form-group">
        <label for="text">HTML Text</label>
        <textarea ng-model="model.widget.text"
                  class="form-control"
                  id="text"
                  placeholder="HTML Text"
                  rows="5"></textarea>
    </div>
    <a class="btn btn-primary  btn-block"
       ng-if="model.widgetType"
       ng-click="model.createNewWidget(model.widget)">
        Create {{model.widgetType.toLowerCase()}}
    </a>
    <a class="btn btn-primary  btn-block"
       ng-if="model.editWidgetVar"
       ng-click="model.editWidget(model.widget)">
        Edit {{model.widget.widgetType.toLowerCase()}}
    </a>
    <a class="btn btn-danger  btn-block"
       ng-if="model.editWidgetVar"
       ng-click="model.deleteWidget()">
        Delete
    </a>
</form>