<div>
    Text
    <input ng-model="model.widget.text" class="form-control"/>
    Rows
    <input ng-model="model.widget.rows" class="form-control" type="number"/>
    Placeholder
    <input ng-model="model.widget.placeholder" class="form-control"/>
    Formatted
    <input ng-model="model.widget.formatted" type="checkbox"/>

    <a class="btn btn-primary  btn-block"
       ng-if="model.type"
       ng-click="model.createNewWidget(model.widget)">
        Create {{model.type.toLowerCase()}}
    </a>
    <a class="btn btn-primary  btn-block"
       ng-if="model.editWidgetVar"
       ng-click="model.editWidget(model.widget)">
        Edit {{model.widget.type.toLowerCase()}}
    </a>
    <a class="btn btn-danger  btn-block"
       ng-if="model.editWidgetVar"
       ng-click="model.deleteWidget()">
        Delete
    </a>
</div>