<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name"
               type="text"
               class="form-control"
               id="name"
               placeholder="Name">
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input ng-model="model.widget.text"
               type="text"
               class="form-control"
               id="text"
               placeholder="Text">
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input ng-model="model.widget.url"
               type="url"
               class="form-control"
               id="url"
               placeholder="URL">
    </div>
    <div class="form-group">
        <label for="width">Width (in percentage)</label>
        <div class="input-group">
            <input string-to-number
                   ng-model="model.widget.width"
                   min="0"
                   max="100"
                   type="number"
                   class="form-control"
                   id="width"
                   placeholder="Width">
            <div class="input-group-addon">%</div>
        </div>
    </div>
    <a class="btn btn-primary  btn-block"
       ng-if="model.widgetType"
       ng-click="model.createNewWidget(model.widget)">
        Create {{model.widgetType.toLowerCase()}}
    </a>
    <a class="btn btn-primary  btn-block"
       ng-if="model.editWidgetVar"
       ng-click="model.editWidget(model.widget)">
        Edit {{model.widget.widgetType.toLowerCase()}}
    </a>
    <a class="btn btn-danger  btn-block"
       ng-if="model.editWidgetVar"
       ng-click="model.deleteWidget()">
        Delete
    </a>
</form>