<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-xs-1">
            <a href="#!/" class="navbar-brand ho-left"> <span class="glyphicon glyphicon-chevron-left"></span>
            </a></div>
        <div class="col-xs-5 msk-navbar-header zero-padding">
            <a class="navbar-brand" href="#!/">
                <img class="ho-navbar-logo" src="images/hungry-owl-plain-logo.png">
                <div class="hungry-owl-text ho-navbar-text">HungryOwl</div>
            </a>
        </div>

        <div class="col-xs-6">
            <div class="dropdown pull-right ho-dropdown-padding">
                <button class="btn btn-default dropdown-toggle ho-profile-btn"
                        type="button" data-toggle="dropdown">
                    <img class="ho-img-circle" src="images/backup-img/icon.png">
                    <span class="ho-button-text">{{model.currentUser.username}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu nav-dropdown-menu">
                    <li ng-show="model.currentUser.userType=='ADMIN'">
                        <a href="#!/admin">
                            <span class="glyphicon glyphicon-dashboard"></span>
                            Admin Dashboard</a>
                    </li>
                    <li><a href="#!/enduser">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        Foodie Dashboard</a>
                    </li>
                    <li><a href="#!/enduser/profile">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#!/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="ho-main-body">
        <div class="ho-dashboard-greeting">
            Find the best places around you to eat
        </div>
        <div class="row msk-search-bar">
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-md-8 zero-padding">
                <div class="col-xs-12 col-sm-3 msk-col-search dropdown pull-left">
                    <select name="radius" id="radius" class="ho-radius">
                        <option value="2">Around 2 miles</option>
                        <option value="5">Around 5 miles</option>
                        <option value="10">Around 10 miles</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-7 msk-col-search search-bar">

                    <select name="place" id="resname" class="search-bar-height ho-place">
                        <option value="0">All Places</option>
                        <option value="Cafe">Cafes</option>
                        <option value="Bars">Bars</option>
                        <option value="Pizza">Pizzeria</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 msk-col-search">
                    <a ng-click="model.searchRestaurants()"
                       class="btn btn-block btn-danger search-bar-height">Search</a>
                </div>
            </div>
            <div class="col-xs-1 col-md-2"></div>
        </div>
        <div class="row ho-dashboard ho-left-padding ho-right-padding">
            <div>
                <div class="row">
                    <h3 class="ho-board-heading">Admin Dashboard</h3>
                </div>
                <div class="row">
                    <div class="col-sm-3 ho-bottom-margin">
                        <div class="row search-result zero-margin">
                            <ul class="nav nav-pills">

                                <li class="active ho-menu-li">
                                    <a data-toggle="pill" href="#users"
                                       target="_self" class="btn ho-dashboard-link">Manage Users
                                    </a>
                                </li>
                                <li class="ho-menu-li">
                                    <a data-toggle="pill" href="#restaurants"
                                       target="_self" class="btn ho-dashboard-link">Manage Restaurants
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-9">
                        <div class="tab-content">
                            <div id="users" class="tab-pane fade in active">
                                <div class="ho-posts-ul">
                                    <ul class="list-group">
                                        <li class="list-group-item ho-posts">
                                            <h4>Manage User Profiles</h4>

                                            <h5>Click on 'Manage Users' button to Delete/Edit
                                                User Profiles</h5>
                                            <a href="#!/admin/manage/user" class="btn btn-danger">Manage Users</a>
                                            <br><br>
                                            <h5>Click on 'Add New User' button to create New
                                                User Profiles</h5>
                                            <a href="#!/admin/manage/user/add" class="btn btn-success">Add New User</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div id="restaurants" class="tab-pane fade search-result">
                                <div class="ho-posts-ul">
                                    <ul class="list-group">
                                        <li class="list-group-item ho-posts zero-padding-tb" style="border:none;">
                                            <h4>Manage Restaurant Profiles</h4>

                                            <h5>Click on 'Manage Restaurants' button to Delete/Edit
                                                Restaurant Profiles</h5>
                                            <a href="#!/admin/manage/restaurant" class="btn btn-danger">Manage Restaurants</a>
                                            <br><br>
                                            <h5>Click on 'Add New Restaurant' button to create New
                                                Restaurant Profiles</h5>
                                            <a href="#!/admin/manage/restaurant/add" class="btn btn-success">Add New Restaurant</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>