<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-xs-6 msk-navbar-header zero-padding">
            <a class="navbar-brand" href="#!/">
                <img class="ho-navbar-logo" src="images/hungry-owl-plain-logo.png">
                <div class="hungry-owl-text ho-navbar-text">HungryOwl</div>
            </a>
        </div>

        <div class="col-xs-6">
            <div class="dropdown pull-right ho-dropdown-padding">
                <button class="btn btn-default dropdown-toggle ho-profile-btn"
                        type="button" data-toggle="dropdown">
                    <img class="ho-img-circle" src="images/backup-img/icon.png">
                    <span class="ho-button-text">{{model.currentUser.username}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu nav-dropdown-menu">
                    <li ng-show="model.currentUser.userType=='ADMIN'"><a href="#!/enduser/{{model.currentUser._id}}">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        Admin Dashboard</a>
                    </li>
                    <li ng-show="model.currentUser.userType=='ADMIN'">
                        <a href="#!/enduser/{{model.currentUser._id}}">
                            <span class="glyphicon glyphicon-dashboard"></span>
                            Foodie Dashboard</a>
                    </li>
                    <li><a href="#!/enduser/{{model.currentUser._id}}/profile">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="ho-main-body">
        <div class="ho-dashboard-greeting">
            Find the best places  to eat around you
        </div>
        <div class="msk-search-bar">
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-md-8 zero-padding">
                <div class="col-xs-12 col-sm-2 msk-col-search dropdown pull-left">
                    <select name="radius" id="radius" class="ho-radius">
                        <option value="2">Around 2 miles</option>
                        <option value="5">Around 5 miles</option>
                        <option value="10">Around 10 miles</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-8 msk-col-search search-bar">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle search-bar-height"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="glyphicon glyphicon-search"></span>
                                <span>Search</span>
                            </button>
                        </div><!-- /btn-group -->
                        <select name="place" id="resname" class="search-bar-height ho-place">
                            <option value="0">All Places</option>
                            <option value="Cafe">Cafes</option>
                            <option value="Bars">Bars</option>
                            <option value="Pizza">Pizzeria</option>
                        </select>
                    </div><!-- /input-group -->
                </div>
                <div class="col-xs-12 col-sm-2 msk-col-search">
                    <a ng-click="model.searchRestaurants()"
                       class="btn btn-block btn-danger search-bar-height">Search</a>
                </div>
            </div>
            <div class="col-xs-1 col-md-2"></div>
        </div>
        <div class="row ho-dashboard ho-left-padding ho-right-padding">
            <div>
                <div class="row">
                    <h3 class="ho-board-heading">Manage Foodie</h3>
                </div>
                <div class="row">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

                    <table id="myTable">
                        <tr class="header">
                            <th style="width:60%;">Name</th>
                            <th style="width:40%;">Country</th>
                        </tr>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Germany</td>
                        </tr>
                        <tr>
                            <td>Berglunds snabbkop</td>
                            <td>Sweden</td>
                        </tr>
                        <tr>
                            <td>Island Trading</td>
                            <td>UK</td>
                        </tr>
                        <tr>
                            <td>Koniglich Essen</td>
                            <td>Germany</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>