<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-xs-1">
            <a href="#!/admin" class="navbar-brand ho-left"> <span class="glyphicon glyphicon-chevron-left"></span>
            </a></div>
        <div class="col-xs-5 msk-navbar-header zero-padding">
            <a class="navbar-brand" href="#!/">
                <img class="ho-navbar-logo" src="images/hungry-owl-plain-logo.png">
                <div class="hungry-owl-text ho-navbar-text">HungryOwl</div>
            </a>
        </div>

        <div class="col-xs-6">
            <div class="dropdown pull-right ho-dropdown-padding">
                <button class="btn btn-default dropdown-toggle ho-profile-btn"
                        type="button" data-toggle="dropdown">
                    <img class="ho-img-circle" src="images/backup-img/icon.png">
                    <span class="ho-button-text">{{model.currentUser.username}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu nav-dropdown-menu">
                    <li ng-show="model.currentUser.userType=='ADMIN'">
                        <a href="#!/admin">
                            <span class="glyphicon glyphicon-dashboard"></span>
                            Admin Dashboard</a>
                    </li>
                    <li><a href="#!/enduser">
                        <span class="glyphicon glyphicon-dashboard"></span>
                        Foodie Dashboard</a>
                    </li>
                    <li><a href="#!/enduser/profile">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#!/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="ho-main-body">
        <div class="ho-dashboard-greeting">
            Find the best places  to eat around you
        </div>
        <div class="msk-search-bar">
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-md-8 zero-padding">
                <div class="col-xs-12 col-sm-2 msk-col-search dropdown pull-left">
                    <select name="radius" id="radius" class="ho-radius">
                        <option value="2">Around 2 miles</option>
                        <option value="5">Around 5 miles</option>
                        <option value="10">Around 10 miles</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-8 msk-col-search search-bar">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle search-bar-height"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="glyphicon glyphicon-search"></span>
                                <span>Search</span>
                            </button>
                        </div><!-- /btn-group -->
                        <select name="place" id="resname" class="search-bar-height ho-place">
                            <option value="0">All Places</option>
                            <option value="Cafe">Cafes</option>
                            <option value="Bars">Bars</option>
                            <option value="Pizza">Pizzeria</option>
                        </select>
                    </div><!-- /input-group -->
                </div>
                <div class="col-xs-12 col-sm-2 msk-col-search">
                    <a ng-click="model.searchRestaurants()"
                       class="btn btn-block btn-danger search-bar-height">Search</a>
                </div>
            </div>
            <div class="col-xs-1 col-md-2"></div>
        </div>
        <div class="row ho-dashboard ho-left-padding ho-right-padding">
            <div>
                <div class="row">
                    <h3 class="ho-board-heading">Manage Restaurant</h3>
                </div>
                <div class="row left-margin right-margin">
                    <input type="text" id="myInput" ng-keyup="model.searchAllRestaurants()" placeholder="Search for names..">

                    <table id="myTable">
                        <tr class="header">
                            <th style="width:60%;">Restaurant</th>
                            <th style="width:40%;">Manage</th>
                        </tr>
                        <tr ng-repeat="restaurant in model.allRestaurants">
                            <td>{{restaurant.username}}</td>
                            <td>
                                <a ng-click="model.deleteRestaurant(restaurant._id)"
                                   class="btn btn-danger">Delete</a>

                                <a href="#!/admin/manage/restaurant/{{restaurant._id}}"
                                   class="btn btn-primary">Edit</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>