<div id="ho-about">
    <div class="row">
        <div class="col-xs-12">
            <div class="ho-features-heading">Features : For Foodies</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="well ho-features">
                <div class="msk-heading">
                    <span class="glyphicon glyphicon-comment"></span> Review</div>
                <hr>
                <div class="msk-description"><p>Cras justo odio, dapibus ac facilisis in</p></div>
                <p><a href="#!/admin/dashboard" class="btn btn-danger" role="button">Review</a></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="well ho-features">
                <div class="msk-heading">
                    <span class="glyphicon glyphicon-share"></span> Post</div>
                <hr>
                <div class="msk-description"><p>Cras justo odio, dapibus ac facilisis in</p></div>
                <p><a href="#" class="btn btn-danger" role="button">Post</a></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="well ho-features">
                <div class="msk-heading">
                    <i class="fa fa-users" aria-hidden="true"></i> Follow</div>
                <hr>
                <div class="msk-description"><p>Cras justo odio, dapibus ac facilisis in</p></div>
                <p><a href="#" class="btn btn-danger" role="button">Follow</a></p>
            </div>
        </div>
    </div>
</div>