<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs">
                <a href="page-list.view.client.html" class="navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left msk-black"> </span>
                </a>
                <a class="navbar-brand" href="#">
                    Pages
                </a>
                <a href="page-new.view.client.html" class="navbar-link navbar-text pull-right">
                    <span class="glyphicon glyphicon-plus msk-black"> </span>
                </a>

            </div>

            <div class="visible-lg visible-md col-md-8 visible-xs visible-sm col-xs-12">
                <a href="page-list.view.client.html" class="visible-xs visible-sm navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left msk-black"> </span>
                </a>
                <a class="navbar-brand pull-left" href="#">
                    New Page
                </a>
                <a href="page-list.view.client.html" class="navbar-link navbar-text pull-right">
                    <span class="glyphicon glyphicon-ok msk-black"> </span>
                </a>

            </div>
        </div>
    </div>
</nav>

<div class="container-fluid msk-main-form">
    <div class="row">
        <div class="col-md-4 hidden-sm hidden-xs">
            <ul class="list-group">
                <li class="list-group-item msk-website-row">
                    <a href="../../widget/templates/widget-list.view.client.html" class="">
                        Blog Post
                    </a>
                    <a class="pull-right" href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog msk-black"> </span>
                    </a>
                </li>
                <li class="list-group-item msk-website-row">
                    <a href="../../widget/templates/widget-list.view.client.html" class="">
                        Blog
                    </a>
                    <a class="pull-right" href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog msk-black"> </span>
                    </a>
                </li>
                <li class="list-group-item msk-website-row">
                    <a href="../../widget/templates/widget-list.view.client.html" class="">
                        Home
                    </a>
                    <a class="pull-right" href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog msk-black"> </span>
                    </a>
                </li>
                <li class="list-group-item msk-website-row">
                    <a href="../../widget/templates/widget-list.view.client.html" class="">
                        About
                    </a>
                    <a class="pull-right" href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog msk-black"> </span>
                    </a>
                </li>
                <li class="list-group-item msk-website-row">
                    <a href="../../widget/templates/widget-list.view.client.html" class="">
                        Contact Us
                    </a>
                    <a class="pull-right" href="page-edit.view.client.html">
                        <span class="glyphicon glyphicon-cog msk-black"> </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="visible-lg visible-md col-md-8 visible-xs visible-sm col-xs-12">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Page Name">
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <textarea class="form-control" id="title" placeholder="Page Title" rows="5"></textarea>
                </div>
            </form>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="../../user/templates/profile.view.client.html" class="navbar-link navbar-text pull-right">
            <span class="glyphicon glyphicon-user msk-black"> </span>
        </a>
    </div>
</nav>