<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-9">
                <a href="#!/user/:uid/website" class="navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left msk-black"> </span>
                </a><a class="navbar-brand" href="#">
                Pages
            </a>
            </div>

            <div class="col-xs-3">
                <a href="#!/user/:uid/website/:wid/page/new" class="navbar-link navbar-text pull-right">
                    <span class="glyphicon glyphicon-plus msk-black"> </span>
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid msk-main-form">
    <ul class="list-group">
        <li class="list-group-item msk-website-row">
            <a href="#!/user/:uid/website/:wid/page/:pid/widget" class="">
                Blog Post
            </a>
            <a class="pull-right" href="#!/user/:uid/website/:wid/page/:pid">
                <span class="glyphicon glyphicon-cog msk-black"> </span>
            </a>
        </li>
        <li class="list-group-item msk-website-row">
            <a href="#!/user/:uid/website/:wid/page/:pid/widget" class="">
                Blog
            </a>
            <a class="pull-right" href="#!/user/:uid/website/:wid/page/:pid">
                <span class="glyphicon glyphicon-cog msk-black"> </span>
            </a>
        </li>
        <li class="list-group-item msk-website-row">
            <a href="#!/user/:uid/website/:wid/page/:pid/widget" class="">
                Home
            </a>
            <a class="pull-right" href="#!/user/:uid/website/:wid/page/:pid">
                <span class="glyphicon glyphicon-cog msk-black"> </span>
            </a>
        </li>
        <li class="list-group-item msk-website-row">
            <a href="#!/user/:uid/website/:wid/page/:pid/widget" class="">
                About
            </a>
            <a class="pull-right" href="#!/user/:uid/website/:wid/page/:pid">
                <span class="glyphicon glyphicon-cog msk-black"> </span>
            </a>
        </li>
        <li class="list-group-item msk-website-row">
            <a href="#!/user/:uid/website/:wid/page/:pid/widget" class="">
                Contact Us
            </a>
            <a class="pull-right" href="#!/user/:uid/website/:wid/page/:pid">
                <span class="glyphicon glyphicon-cog msk-black"> </span>
            </a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/user/:uid" class="navbar-link navbar-text pull-right">
            <span class="glyphicon glyphicon-user msk-black"> </span>
        </a>
    </div>
</nav>