<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left msk-black"> </span>
                </a>
                <a class="navbar-brand" href="#">
                    Pages
                </a>
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link navbar-text pull-right">
                    <span class="glyphicon glyphicon-plus msk-black"> </span>
                </a>

            </div>

            <div class="visible-lg visible-md col-md-8 visible-xs visible-sm col-xs-12">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="visible-xs visible-sm navbar-link navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left msk-black"> </span>
                </a>
                <a class="navbar-brand pull-left msk-main-heading" href="#" >
                    Edit Page
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid msk-main-form">
    <div class="row">
        <div class="col-md-4 hidden-sm hidden-xs">
            <ul class="list-group">
                <li class="list-group-item msk-table-heading">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10">
                            Name
                        </div>
                        <div class="col-xs-2 col-sm-2">

                        </div>
                    </div>
                </li>

                <li ng-repeat="page in model.pages" class="list-group-item msk-website-row">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                                {{page.name}}
                            </a>
                        </div>
                        <div class="col-xs-2 col-sm-2">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="visible-lg visible-md col-md-8 visible-xs visible-sm col-xs-12">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           placeholder="Page Name"
                           ng-model="model.currentPage.name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control"
                              id="description"
                              placeholder="Page description"
                              rows="5"
                              ng-model="model.currentPage.description"></textarea>
                </div>
            </form>

            <a ng-click="model.editPage(model.currentPage)"
               class="btn btn-primary  btn-block">
                Edit Page
            </a>
            <a ng-click="model.deletePage()"
               class="btn btn-danger  btn-block">
                Delete
            </a>
        </div>
    </div>

</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/user/{{model.userId}}" class="navbar-link navbar-text pull-right">
            <span class="glyphicon glyphicon-user msk-black"> </span>
        </a>
    </div>
</nav>